<div class="col s12 m12 l3">
  <div class="content-container">
    <h6>My Coach Profile</h6>
    <div class="collection">
      <div *ngIf="checkIfThisIsMyCoachProfile()">
        <a href="#!" class="collection-item black-text active teal lighten-3">Profile Information</a>
        <a href="#!" class="collection-item grey-text text-darken-2">Coaching sessions</a>
        <a href="#!" class="collection-item grey-text text-darken-2">Request profile change</a>
        <a routerLink="/sessions/request-session" class="collection-item grey-text text-darken-2"
           (click)="requestSession()">Request a session
          <a routerLink="/sessions/request-session" class="material-icons right" (click)="requestSession()">calendar_today</a>
        </a>
      </div>
    </div>
  </div>
</div>
