<div class="col s12 m12 l3">
  <div class="content-container">
    <h6>My Coach Profile</h6>
    <div class="collection">
      <a href="#!" class="collection-item black-text active teal lighten-3">Profile Information</a>
      <a href="#!" class="collection-item grey-text text-darken-2">Coaching sessions<span
        class="btn-floating btn-small teal lighten-3 pulse">1</span></a>
      <a href="#!" class="collection-item grey-text text-darken-2">Request profile change</a>
    </div>
    <a class="waves-effect waves-light btn-small btn-floating yellow darken-2" (click)="requestSession()"><i
      class="material-icons left">calendar_today</i>Request a session</a>
  </div>
</div>
