<header>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">CodeCoach</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a class="waves-effect waves-light yellow darken-2 btn black-text" routerLink="/login">Sign in<i
          class="material-icons right">person</i></a></li>
        <li><a class="waves-effect waves-light teal lighten-3 btn black-text"  routerLink="/register">Register<i
          class="material-icons right">person_add</i></a></li>
      </ul>

      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a class="waves-effect waves-light yellow darken-2 btn black-text" routerLink="/login">Sign in<i
          class="material-icons right">person</i></a></li>
        <li><a class="waves-effect waves-light teal lighten-3 btn black-text" routerLink="/register">Register<i
          class="material-icons right">person_add</i></a></li>
      </ul>

    </div>
  </nav>
</header>

