<header>
  <nav class="white nav-extended" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container-signed-in" href="#" class="brand-logo">CodeCoach</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a class="waves-effect waves-light grey lighten-2 btn black-text" (click)="logOut()">Sign out
            <i class="material-icons right">person</i>
          </a>
        </li>
      </ul>
      <a href="#" data-target="nav-mobile-signed-in" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile-signed-in" class="sidenav">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <div *ngIf="user"
               [ngClass]="{'nav-content': !(isCoachProfileActive | async),
         'collection-item black-text active': isCoachProfileActive | async}">

            <ul>
              <li>
                <a class="black-text" [routerLink]="['./','users',user.id,'profile']">My Profile</a>
              </li>
              <li>
                <a class="black-text" routerLink="/users/coaches-overview">Find a coach</a>
              </li>
              <li *ngIf="isACoach()">
                <a class="black-text" [routerLink]="['./','users',user.id,'coach-profile']"
                   routerLinkActive="active-link teal darken-1" (isActiveChange)="this.onRouterLinkActive($event)">My
                  Coach Profile</a>
              </li>
            </ul>

          </div>
        </li>
        <li>
          <a class="waves-effect waves-light  grey lighten-2 btn black-text" (click)="logOut()">Sign out
            <i class="material-icons right">person</i>
          </a>
        </li>
      </ul>

    </div>
    <div *ngIf="user"
         [ngClass]="{'nav-content yellow darken-2': !(isCoachProfileActive | async),
         'collection-item black-text active teal lighten-3': isCoachProfileActive | async}">
      <div class="container">
        <ul class="tabs tabs-transparent hide-on-med-and-down">
          <li class="tab">
          <li class="tab"><a class="black-text" routerLinkActive="active-link yellow darken-3"
                             [routerLink]="['./','users',user.id,'profile']">My Profile</a></li>
          <li class="tab"><a class="black-text" routerLinkActive="active-link yellow darken-3"
                             routerLink="/users/coaches-overview">Find a coach</a></li>
          <li class="tab" *ngIf="isACoach()">
            <a class="black-text" [routerLink]="['./','users',user.id,'coach-profile']"
               routerLinkActive="active-link teal darken-1" (isActiveChange)="this.onRouterLinkActive($event)">My Coach
              Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
