<header>
  <nav class="white nav-extended" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container-signed-in" href="#" class="brand-logo">CodeCoach</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a class="waves-effect waves-light grey lighten-2 btn black-text" (click)="logOut()">Sign out<i
          class="material-icons right">person</i></a></li>
      </ul>
      <ul id="nav-mobile-signed-in" class="sidenav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a class="waves-effect waves-light  grey lighten-2 btn black-text" (click)="logOut()">Sign out<i
          class="material-icons right">person</i></a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    <div class="nav-content yellow darken-2">
      <div class="container">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a class="grey-text text-darken-2" href="#">My Profile</a></li>
          <li class="tab"><a class="black-text" href="#">Find a coach</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
