
<main>
  <div id="index-banner">
    <div class="section no-pad-bot parallax-container">
      <div class="container">
        <h2 class="header center teal-text lighten-3"><i class="extra-large material-icons">people</i></h2>
      </div>
      <div class="parallax"><img src="../../assets/img/youcoach_background1.jpg" alt="CodeCoach"></div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col s12 m12">
        <h1 class="center teal-text lighten-3" style = "font-family:gentium,serif">CodeCoach</h1>

        <p class="left-align light flow-text">CodeCoach is a peer to peer coaching program for professional developers.</p>
        <p class="left-align light flow-text">
          Junior developers who struggle with a certain technique or technology can grow with the help of like minded people.</p>
        <p class="left-align light flow-text">
          With CodeCoach everything is quick and easy: just
          register as a Coach or request a coaching session on this website, and it will organize a private
          coaching session remote or f2f.
        </p>
      </div>

    </div>

  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="black-text">It is action that creates motivation<i
            class="material-icons">format_quote</i></h5>
          <h6 class="light black-text"><i>Steve Backley</i></h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../../assets/img/youcoach_background2.jpg" alt="CodeCoach"></div>
  </div>

  <div class="container">
    <div id="coach-be-coached" class="section scrollspy">

      <div class="row">
        <div class="col s12 m6">
          <h2 class="center teal-text lighten-3">Become a Coach</h2>
          <h5 class="center">To help others and increase your potential</h5>

          <p class="light">If you feel strong in a technology and want to help others, sign up as a coach. You will strengthen your knowledge in this subject, you will develop new skills
            and above all you will feel useful. Your commitment will be
            recognized and rewarded.
          </p>

          <div class="center">
          </div>
        </div>

        <div class="col s12 m6">
          <h2 class="center teal-text lighten-3">Benefit from coaching</h2>
          <h5 class="center">To improve your skills, and keep growing</h5>

          <p class="light">If you have difficulties with a technology and you want to progress,
            make an appointment for peer 2 peer coaching, and benefit from the experience
            of another software developer, who understands your concrete needs. Your willingness to
            progress will be recognized.
          </p>

          <div class="center">
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5>In learning you will teach, <br>and in teaching you will learn.<i class="material-icons">format_quote</i>
          </h5>
          <h6 class="light"><i>Phil Collins</i></h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../../assets/img/youcoach_background3.jpg" alt="CodeCoach"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="s12 center">
          <h2 class="teal-text lighten-3">Any questions?</h2>
          <p class="center-align light">Go to the "Frequently Asked Questions" (FAQ)
          </p>
          <div class="center">
            <a href="#" class="btn-large waves-effect waves-light yellow darken-2">
              <span class="black-text">Go To FAQ</span>
            </a>
            <a href="#" class="btn-large waves-effect waves-light yellow darken-2">
              <span class="black-text">contact admin</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>

