<!--<div class="col s12 m7 l9" *ngIf="user">-->
  <div class="content-container" >
    <section class="card-panel grey lighten-5">
      <h5>Profile Information</h5>
      <div class="divider"></div>
      <div class="row">
        <div class="col l2 m2 s12">
          <img src="../../../../assets/img/dummy/profile-picture.png" class="responsive-img circle"
               alt="Profile Picture">
        </div>
        <div class="col l10 m12 s12">
          <table class="highlight">
            <tbody>
            <tr>
              <td><strong>First name</strong></td>
              <td>{{user.firstName}}</td>
            </tr>
            <tr>
              <td><strong>Last name</strong></td>
              <td>{{user.lastName}}</td>
            </tr>
            <tr>
              <td><strong>Email</strong></td>
              <td>{{user.email}}</td>
            </tr>
            <tr>
              <td><strong>CodeCoach role</strong></td>
              <td>{{user.userRole | lowercase}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
<!--</div>-->
