<div class="col s12 m5 l3" *ngIf="checkIfLoggedIn">
  <div class="content-container">
    <h6>My Profile</h6>
    <div class="collection">
      <a  class="collection-item grey-text darken-2" routerLink="profile" routerLinkActive="black-text active yellow">Profile Information</a>
      <a  class="collection-item grey-text darken-2" routerLink="sessions-overview" routerLinkActive="black-text active yellow">Coaching sessions</a>
      <a  class="collection-item grey-text darken-2" routerLink="become-coach" routerLinkActive="black-text active yellow">Apply to become a coach</a>
    </div>
  </div>
</div>
