<div class="col s12 m12">
  <div class="content-container">

    <section class="card-panel grey lighten-5">
      <div class="right">
        <a class="waves-effect waves-light btn-large btn-floating yellow darken-2"><i
          class="material-icons left">edit</i>Edit</a>
      </div>
      <h5>Apply to become a coach</h5>
      <div class="divider"></div>
      <div class="row">
        <div class="col l2 m2 s12">
          <img src="../../../assets/img/under_construction.png" class="responsive-img"
               alt="Under construction">
        </div>
        <p>This part of the application is currently still under construction!</p>
        <p>In order to become a coach automatically, please press the button below.</p>
        <a class="waves-effect waves-light yellow darken-2 btn-large black-text" >Become a coach<i
          class="material-icons right">send</i></a>
      </div>
    </section>

  </div>
</div>
