<main>
  <div class="container">

    <div class="row">
      <div class="col s12 m12">


        <h1 class="center teal-text lighten-3">Register</h1>
        <div class="content-container-with-padding z-depth-4">

          <div class="row">
            <form class="col s12" [formGroup]="userForm">
              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" type="text" class="validate" formControlName="firstName">
                  <label for="first_name">First Name</label>
                  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                    <div *ngIf="firstName.errors?.['required']" class="text-error red-text">
                      First name is required.
                    </div>
                    <div *ngIf="firstName.errors?.['pattern']" class="text-error red-text">
                      First name cannot be a number or end with a space or a dash
                    </div>
                  </div>
                </div>
                <div class="input-field col s6">
                  <input id="last_name" type="text" class="validate" formControlName="lastName">
                  <label for="last_name">Last Name</label>
                  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                    <div *ngIf="lastName.errors?.['required']" class="text-error red-text">
                      Last name is required.
                    </div>
                    <div *ngIf="firstName.errors?.['pattern']" class="text-error red-text">
                      Last name cannot be a number or end with a space or a dash
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate" formControlName="email">
                  <label for="email">Email</label>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors?.['required']" class="text-error red-text" >
                      Email is required.
                    </div>
                    <div *ngIf="email.errors?.['pattern']" class="text-error red-text">
                      Email does not have the correct format.
                    </div>
                    <div *ngIf="email.errors?.['duplicateUserError']" class="text-error red-text">
                      Email already exists.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" formControlName="password">
                  <label for="password">Password</label>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors?.['required']" class="text-error red-text">
                      Password is required.
                    </div>
                    <div *ngIf="password.errors?.['pattern']" class="text-error red-text">
                      Password needs to be at least 8 characters long, have at least one number and one capital.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="passwordVerification" type="password" class="validate" (input)="changePasswordRepeat($event)">
                  <label for="passwordVerification">Password (again)</label>
                  <div *ngIf="!validatePasswordEqualsPasswordRepeat() && passwordRepeat" class="text-error red-text">
                      Password does not match.
                  </div>
                </div>
              </div>

              <div class="row right-align">
                <button class="waves-effect waves-light yellow darken-2 btn-large black-text" (click)="creatuserModal()">Register<i class="material-icons right">send</i></button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>
</main>
<div id="registerusermodal" class="modal">
  <div class="modal-content">
    <h4>Confirm registration</h4>
    <p>If you are sure about the information you provided please click the confirm button.</p>
  </div>
  <div class="modal-footer">
    <a (click)="onSubmit()" class="modal-close waves-effect waves-light yellow darken-2 btn-flat black-text">Confirm</a>
  </div>
</div>
