<main>
  <div class="container">

    <div class="row">
      <div class="col s12 m12">


        <h1 class="center teal-text lighten-3">Register</h1>
        <div class="content-container-with-padding z-depth-4">

          <div class="row">
            <form class="col s12" [formGroup]="userForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" type="text" class="validate" formControlName="firstName">
                  <label for="first_name">First Name</label>
                  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                    <div *ngIf="firstName.errors?.['required']" class="text-error">
                      First Name is required.
                    </div>
                  </div>
                </div>
                <div class="input-field col s6">
                  <input id="last_name" type="text" class="validate" formControlName="lastName">
                  <label for="last_name">Last Name</label>
                  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                    <div *ngIf="lastName.errors?.['required']" class="text-error">
                      Last Name is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate" formControlName="email">
                  <label for="email">Email</label>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors?.['required']" class="text-error">
                      Email is required.
                    </div>
                    <div *ngIf="email.errors?.['pattern']" class="text-error">
                      Email does not have the correct format.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" formControlName="password">
                  <label for="password">Password</label>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors?.['required']" class="text-error">
                      Password is required.
                    </div>
                    <div *ngIf="password.errors?.['pattern']" class="text-error">
                      Password needs to be at least 8 characters long, have at least one number and one capital.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="passwordVerification" type="password" class="validate" (change)="changePasswordRepeat($event)">
                  <label for="passwordVerification">Password (again)</label>
                  <div *ngIf="!validatePasswordEqualsPasswordRepeat()">
                      Password does not match.
                  </div>
                </div>
              </div>

              <div class="row right-align">
                <button class="waves-effect waves-light yellow darken-2 btn-large black-text" type="submit">Register<i class="material-icons right">send</i></button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>
</main>
