<main *ngIf="user$| async as user">

  <div class="row">

    <div class="col s12 m2">
      <div class="content-container">
        <h6>My Profile</h6>
        <div class="collection">
          <a  class="collection-item black-text active yellow darken-2" routerLink="/users/{{user.id}}/profile">Profile Information</a>
          <a  class="collection-item grey-text text-darken-2">Coaching sessions</a>
          <a  class="collection-item grey-text text-darken-2">Apply to become a coach</a>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

</main>
